@media only screen and (max-width: 600px) {
    body {
        margin: 0%;
        padding: 0%;
    }

    header {}

    #logo {
        height: 80px;
        margin-right: 40px;
        pointer-events: none;
        margin-bottom: 5px;
    }

    nav {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    header a {
        text-decoration: none;
        color: white;
        font-size: 125%;

    }

    header ul {

        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        margin-bottom: 10px;
    }

    header ul li {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-right: 10px;
    }

    #search-form {
        width: auto;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 35px;
        left: 210px;
    }

    #search-input {
        width: 100%;
    }

    #nightModeButton {
        width: 90px;
        background: skyblue;

    }

    .footer-column div {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .footer-column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-column ul {
        display: flex;

    }

    .footer-column i {
        color: black;
    }

    .footer-column li {
        border: 1px solid;
        border-radius: 5px;
        padding: 10px;
        margin-right: 5px;
        background: aqua;
    }

    .sosial-media-icons {
        padding: 0;
    }

    body.night-mode footer i {
        background: aqua;
        color: black;
    }

    #cpr {
        margin: 0;
    }

    .dropdown-content a {
      font-size: 15px;
}
}

@media only screen and (max-width: 768px) {

    body {
        margin: 0%;
        padding: 0%;
    }

    #logo {
        height: 80px;
        margin-right: 40px;
        pointer-events: none;
        margin-bottom: 5px;
    }


    header a {
        text-decoration: none;
        color: white;
        font-size: 125%;

    }

    header ul {

        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    header ul li {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-right: 10px;
    }

    #search-form {
        width: auto;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 33px;
        right: 0px;
    }

    #search-input {
        width: 100%;
    }

    #nightModeButton {
        width: 90px;
        background: skyblue;

    }

    .footer-column div {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .footer-column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-column ul {
        display: flex;

    }

    .footer-column i {
        color: black;
    }

    .footer-column li {
        border: 1px solid;
        border-radius: 5px;
        padding: 10px;
        margin-right: 5px;
        background: aqua;
    }

    .sosial-media-icons {
        padding: 0;
    }

    body.night-mode footer i {
        background: aqua;
        color: black;
    }

    #cpr {
        margin: 0;
    }
}