body {
    /*border: 1px solid red;*/
    padding: auto;
    margin: auto;
}

.container {
    /*border: 1px solid green;*/
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;

}
.container-header {
    /*border: 1px solid green;*/
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    position: sticky;
    top: 0;
    z-index: 9;

}
.container-footer {
       /*border: 1px solid green;*/
       display: flex;
       justify-content: center;
       font-family: 'Courier New', Courier, monospace;
}

header {
    border-radius: 5px;
    background: #f2f7f5;
    width: 60%;
}

.logo-web {
    display: flex;
    border-bottom: 1px solid;
    font-size: 50px;
    padding-bottom: 10px;

}

form {
    display: flex;
    margin: auto;
    padding: auto;
}

form input{
    height: 25px;
    width: 300px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;

}

form button{
    border: none;
    border-radius: 5px;
    background: #ffffff;
}

header ul {
    list-style: none;
    display: flex;
}

header li a {
    padding-right: 20px;
    text-decoration: none;
    color: #333;

}

main {
    z-index: 7;
    width: 60%;

}

.slm {
    text-align: center;
    margin-bottom: 50px;
    border-bottom: 1px solid;

}

section p {
    padding-left: 80px;
}

table{
    width: 70%;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-radius: 5px;
    position: relative;
    left: 15%;
    margin-bottom: 30px;
    text-align: center;

}

table td{
    width: auto;
}

footer {
    z-index: 7;
    background: #f2f7f5;
    width: 60%;
    border-top: 1px solid;
    border-radius: 5px;
    justify-content: center;
    display: flex;
}

.sosial-media-icons {
    list-style: none;
}

.sosial-media-icons a {
    text-decoration: none;
    color: black;

}

footer ul {
    padding: 0;
    display: flex;
}

footer li {
    padding-right: 10px;
}

#nightModeButton {
  position: absolute;
  right: 0;
}

/* Gaya default (mode terang) dan mode malam */
body, header, a, footer {
  transition: color 0.10s;
}

body.night-mode,
body.night-mode header,
body.night-mode header a{
    background: #333;
    color: #ffffff;
}

body.night-mode footer{
  background: #333;
  color: #ffffff
}

body.night-mode footer i{
  background: #333;
  color: #ffffff
}

/* style.css */

img {
    z-index: 6;
    position: fixed;
    right: 80px;
    top: 100px;
    width: 300px
}


/* Style untuk tampilan dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f2f7f5; /* Warna latar belakang dropdown */
    width: 60%;
    z-index: 2;
    height: 20%;
    text-align: center;
    border-radius: 5px;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
    border-bottom: 1px solid black;
    border-radius: 5px;
}

.dropdown-content a:hover {
     background-color: #333; /* Efek hover saat mengarahkan kursor ke opsi dropdown */
     color: white;
}
